@layer base {
	.bg-main-img {
		@apply w-full h-full bg-keyboard-img blur-sm lg:blur-none lg:brightness-50 bg-no-repeat bg-cover bg-right-bottom;
	}

	.wrapper {
		@apply flex w-full h-full justify-center items-center px-5 py-10 overflow-hidden;

		h1 {
			@apply block text-4xl font-extrabold text-[#E2E2E2];
		}

		p {
			@apply block text-sm text-[#E2E2E2];
		}
	}

	.cols {
		@apply w-[50%];
	}

	.cols1 {
		@apply flex flex-col justify-center items-start;
	}

	.topline {
		@apply block relative text-2xl tracking-widest;

		&::after {
			@apply absolute content-[''] h-1 w-6 bottom-0 bg-[#F63030];
		}
	}

	.multiText {
		@apply text-[#F63030] capitalize;
	}

	.btns {
		@apply absolute right-0 bottom-0;

		button {
			@apply cursor-none text-[1rem] font-medium text-[#F63030] bg-[#3d535f] px-2 py-1 m-4 tracking-wider capitalize shadow-sm shadow-white;
			@apply hover:bg-[#F63030] hover:text-[#3d535f];
		}
	}

	.imgbox {
		@apply relative h-full w-full py-20;
		.img {
			@apply relative justify-center items-center;
		}

		#photo {
			@apply w-[40%] top-20 left-[20%];
		}

		#splash {
			@apply absolute top-[20%] h-full w-[100%] -left-20;
		}
	}
}

@media only screen and (max-width: 600px) {
	.cols0 {
		display: none;
	}
	.cols {
		@apply w-full;
	}
}

.back-fixed {
	position: fixed;
	width: 100vw;
	height: 100vh;
	top: 0;
	left: -10%;
	right: -10%;
	bottom: 0;
	background-size: cover;
	background-position: center center;
	z-index: -1;
	opacity: 0;
	transition: opacity 0.3s linear, transform 0.3s ease-in-out;
	pointer-events: none;

	transform: translateX(calc(10% * var(--dir)));
}
