@tailwind base;
@tailwind components;
@tailwind utilities;

@import './cursor/customCursor.scss';
@import './main.scss';
@import './about.scss';
@import './projects.scss';
@import './Cover3D/cover3d.scss';

@font-face {
	font-family: 'Gravity-Bold';
	src: url('../fonts/Gravity-Bold.otf');
}
@font-face {
	font-family: 'Gravity-Regular';
	src: url('../fonts/Gravity-Regular.otf');
}
@font-face {
	font-family: 'Gravity-Light';
	src: url('../fonts/Gravity-Light.otf');
}
@font-face {
	font-family: 'Gravity-Book';
	src: url('../fonts/Gravity-Book.otf');
}

@layer base {
	* {
		@apply cursor-none; /*hidden cursor*/
		@apply font-gravity-regular m-0 p-0 box-border;
	}

	html {
		@apply scroll-smooth;
	}

	body {
		@apply bg-[#121417] text-[#ecf0f3] tracking-wide overflow-hidden;
		/* -ms-overflow-style: none; 
		scrollbar-width: none;  */
		/* &::-webkit-scrollbar {
			display: none;
		} */
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold font-gravity-bold;
	}

	h1 {
		@apply text-4xl sm:text-5xl md:text-5xl;
	}

	h2 {
		@apply text-3xl sm:text-4xl;
	}

	.button {
		@apply shadow-xl shadow-gray-400 rounded-xl uppercase bg-gradient-to-r from-[#5651e5];
	}

	.nav {
		/*backdrop-blur-lg; w-full*/
		@apply fixed bg-white px-2 sm:px-4 lg:py-1 py-3 dark:bg-gray-900 z-20 top-0 right-4 left-4;
		@apply dark:border-gray-600 backdrop-filter bg-opacity-0 border-b border-gray-200 transition p-2;
	}

	.active {
		@apply before:absolute before:content-[''] before:-bottom-1 before:h-1 before:w-full before:bg-[#ffffff] before:transition;
		/* &::before {
		} */
	}

	.nav-scroll {
		@apply p-1 bg-opacity-20;
	}

	.nav-content > li {
		@apply relative;
	}

	.nav-item {
		@apply block py-2 pr-4 pl-3 rounded md:bg-transparent md:p-0 text-gray-100 font-gravity-book;
		@apply hover:line-through hover:animate-pulse;
	}

	section {
		@apply w-screen h-screen max-h-screen;
	}
}
